<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169246802432-p6p9ncl5l2ptcpl3go129gjiqe92h013.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169246802432-p6p9ncl5l2ptcpl3go129gjiqe92h013</string>
	<key>API_KEY</key>
	<string>AIzaSyCarPQo3W9hXDR4C6kWP7Oximn8wKvP3oI</string>
	<key>GCM_SENDER_ID</key>
	<string>169246802432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.azurecommunicationserviceflutter</string>
	<key>PROJECT_ID</key>
	<string>norupet-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>norupet-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169246802432:ios:43687b689512116f5f4ee5</string>
</dict>
</plist>